body {
    background-color: #C8E7FB;
    /*  color: black;  
    font-family: ariel, helvetica, sans-serif;
        background-color:rgb(0,0,0);*/
       }
       
h1 {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

div.main {
    text-align: left;
    background: white;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    padding-bottom: 3%;
    width: 40%;
    margin-left: 25%;
    
}
div.topnav{
    font-size: 15px;
    text-align: center;
    color: black;
    padding: 20px;
}
.topnav{
    background-color: white;
    border-color: black;
}

.topnav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-left: 25%;
    margin-right: 25%;
}

.topnav li {
    /*   display: inline-block;*/
    height: 100%;
    width: 20%;
    float: left;
}
 
.topnav ul a{
    padding-right: 32px;
    padding-left: 32px;
    line-height: 5px;
    font-size: 20px;
    
}
h3{
    text-align:left;
}
.left {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.right {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
